


<h1>Укажите время в секундах</h1>

<form method="post">
    <label>Время в секундах:</label><br />
    <input type="text" name="time" /><br /><br />

    <input type="submit" value="Отправить" />
</form>